svg {
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.svg {
  line-height: 1;
  stroke: var(--black);
  fill: var(--black);
}

.search {
  width: 24px;
  height: 24px;
}

.add {
  width: 34px;
  height: 34px;
  stroke-width: 0px;
  display: block;
}

.home {
  width: 34px;
  height: 34px;
}

.close {
  width: 30px;
  height: 30px;
}
