.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
}

.description:hover .hover {
  color: var(--hover);
}

.name {
  color: var(--black);
  font-size: 1.25rem;
  line-height: 1.563rem;
  font-weight: bold;
  transition: all 0.3s;
}

.gender,
.profession {
  font-size: 1rem;
  line-height: 1.563rem;
  font-weight: bold;
  color: var(--secondary);
}
.profession {
  font-style: italic;
}
